.games {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 5px;
}

.example-card {
  flex: 1 1 30%;
  max-width: 30%;
}

mat-card-header {
  padding: 10px;
  color: white;
  height: 100px;
  background: cornflowerblue;
  border-radius: 10px;
}
