<div class="form-container mat-elevation-z5">
  <h1>Sign In</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Email address" formControlName="email">
      <mat-error *ngIf="email?.invalid">
        {{getErrorMessage()}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password">
      <mat-error *ngIf="password?.invalid">
        {{getErrorMessage()}}
      </mat-error>
    </mat-form-field>

    <div class="center">
      <button mat-raised-button color="primary" type="submit">
        Sign In
      </button>

      <span>New to our platform? <a routerLink="/signup">Sign Up</a></span>
    </div>

  </form>
</div>
