<div class="overlay-spinner" *ngIf="!spinner">
  <div class="center-spinner">
    <mat-spinner diameter="200"></mat-spinner>
  </div>
</div>

<div *ngIf="spinner">
  <form>
    <mat-form-field appearance="outline">
      <mat-label>Friend's email</mat-label>
      <input [formControl]="searchUser" matInput placeholder="Email of user">
    </mat-form-field>

    <div>
      <button mat-raised-button color="primary" type="button" (click)="search()">
        Search User
      </button>
      <button mat-raised-button color="warn" type="button" (click)="cancel()">
        Cancel
      </button>
    </div>
  </form>

  <ng-container *ngIf="!searchedUser && !userDoesntExist">
    <div *ngFor="let friend of friends" class="friend">
      <p>{{friend}}</p>
      <button mat-raised-button color="warn" type="submit" (click)="deleteFriend(friend)">
        Delete
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="searchedUser">
    <div *ngIf="friends.includes(searchedUser.email); else newFriend" class="friend">
      <p>{{searchedUser.email}}</p>
      <button mat-raised-button color="warn" type="submit" (click)="deleteFriend(searchedUser.email)">
        Delete
      </button>
    </div>

    <ng-template #newFriend>
      <div *ngIf="!userDoesntExist" class="friend">
        <p #userEmail>{{searchedUser.email}}</p>
        <button mat-raised-button color="primary" type="submit" (click)="addFriend(userEmail.textContent)">
          Add to Friends
        </button>
      </div>
    </ng-template>

    <div *ngIf="userDoesntExist">
      <span>No users with this email.</span>
    </div>
  </ng-container>
</div>

