
<form>
  <mat-form-field appearance="fill">
    <mat-label>Friend's email</mat-label>
    <input [formControl]="searchUser" matInput placeholder="Email of user">
  </mat-form-field>

  <button mat-raised-button color="primary" type="button" (click)="search()">
    Search User
  </button>
  <button mat-raised-button color="primary" type="button" (click)="cancel()">
    Cancel
  </button>
</form>

<ng-container *ngIf="!searchedUser">
  <div *ngFor="let friend of friends">
    <span>{{friend}}</span>
    <button mat-raised-button color="primary" type="submit" (click)="deleteFriend(friend)">
      Delete
    </button>
  </div>
</ng-container>

<ng-container *ngIf="searchedUser">
  <div *ngIf="friends.includes(searchedUser.email)">
    <span>{{searchedUser.email}}</span>
    <button mat-raised-button color="primary" type="submit" (click)="deleteFriend(searchedUser.email)">
      Delete
    </button>
  </div>

  <div *ngIf="userDoesntExists === true; else newFriend">
    <span>No users with {{searchUser.value}} email.</span>
  </div>

  <ng-template #newFriend>
    <span #userEmail>{{searchedUser.email}}</span>
    <button mat-raised-button color="primary" type="submit" (click)="addFriend(userEmail.textContent)">
      Add to Friends
    </button>
  </ng-template>
</ng-container>


<!--<ng-template #newFriend>-->

<!--</ng-template>-->

