/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-container {
  max-width: 250px;
  margin: 0 auto;

  background: #eceff1;
  padding: 50px;
  border-radius: 16px;
  text-align: center;

  & mat-form-field {
    width: 100%;
  }

  & .center {
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
      margin-top: 5px;
    }
  }
}
