form {
  display: flex;
  justify-content: space-between;

  & button {
    height: 75%;
  }

  & mat-form-field {
    flex: 1 3 80%;
  }
}

mat-card-header {
  padding: 10px;
  color: white;
  height: 100px;
  background: cornflowerblue;
  border-radius: 10px;
}

.games {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 5px;
}

.example-card {
  flex: 1 1 30%;
  max-width: 30%;
}

.full {
  flex: 1 1 100%;
}
